.idea
mnist/*
practice/Titanic/data/gender_submission.csv
practice/Titanic/data/test.csv
practice/Titanic/data/train.csv
data/Titanic/gender_submission.csv
data/Titanic/test.csv
data/Titanic/train.csv
*.ipynb_checkpoints
data/feature_engineering/*
!data/feature_engineering/README.md
practice/FinancialRiskControl/data/*